<!--<app-country-list></app-country-list>-->
<!--<app-data-loader [title]="'Load'" (startLoading)="startLoadingData()"></app-data-loader>-->
<!--<p>{{message |uppercase}}</p>-->
<!--<p>{{object | json}}</p>-->
<!--<p>{{amount | currency:'GBP':'symbol-narrow'}}</p>-->
<!--<p>{{birthday|date:'fullTime'}}</p>-->
<!--<p>{{message | mypipe:'salut'}}</p>-->
<!--<app-invoice-list></app-invoice-list>-->

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Invoice App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
